<!-- app/views/stocks/intraday.html.erb -->
<h1>Intraday Stock Data</h1>

<%= form_with url: intraday_stocks_path, method: :get, local: true do |form| %>
  <%= form.label :symbol, "Enter stock symbol (e.g., MSFT)" %>
  <%= form.text_field :symbol, required: true %>
  <%= form.submit "Search Stock" %>
<% end %>
<p><%= link_to 'Regenerate Stocks', intraday_stocks_path  %></p>

<% if @intraday_data.present? %>
  <h2>Stock Symbol: <%= params[:symbol] %></h2>
  <p>Latest Open Price: <%= @latest_open_value %></p>

  <%= button_to 'Buy Stock', stocks_path, method: :post, params: { stock: { symbol: params[:symbol], price: @latest_open_value, quantity: 1 } }%>
<% else %>
  <p>No intraday data found. Please provide a valid stock symbol.</p>
<% end %>
