<!-- app/views/stocks/intraday.html.erb -->
<h1>Intraday Stock Data</h1>

<%= form_with url: intraday_stocks_path, method: :get, local: true do |form| %>
  <%= form.label :symbol, "Enter stock symbol (e.g., MSFT)" %>
  <%= form.text_field :symbol, required: true %>
  <%= form.submit "Search Stock" %>
<% end %>
<p><%= link_to 'Regenerate Stocks', intraday_stocks_path  %></p>

<% if @latest_open_value %>
  <p>Stock Price: <%= @latest_open_value %></p>
<% end %>
